.intro
{
    height : 300px;
    height : fill-available;
    /* background: rgb(45,103,149); */
    background-color: #404258;
    /* background: radial-gradient(circle, rgba(45,103,149,1) 34%, rgba(0,125,255,1) 100%); */
    color : white;
    /* background: radial-gradient(circle, rgba(45,103,20,1) 34%, rgba(0,125,2,1) 100%); */
}
#shortIntro
{
    display: none;
}
.myphoto
{
    height: 298px;
    size: cover;
}